.page {
  min-height: 100vh;
  section {
    // height: calc(100vh - 60px);
    height: 100vh;
    padding-bottom: 60px;
  }
}

section#presentation {
  background: url(../assets/images/user.png) no-repeat center center;
  background-size: cover;
  padding-left: 200px;
  h1 {
    color: #fff;
    font-family: var(--archivo);
    font-size: 7rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    span {
      font-size: 7rem;
      color: var(--rose2);
    }
  }
}

section#about {
  background-color: var(--color-2-bg);
  .content {
    h2 {
      color: #fff;
      font-size: 7rem;
      text-align: center;
      // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      span {
        // display: none;
        font-size: 7rem;
        // color: #aa93f8;
      }
      color: transparent;
      background: linear-gradient(90deg, var(--blueViolet), var(--orange));
      background-clip: text;
    }
    p {
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  .img img {
    width: auto;
    height: 60vh;
    object-fit: cover;
    border-radius: 100px;
    // border: 2px solid #aa93f8;
    box-shadow: 0 0 0 4px var(--color-2-bg),
                0 0 0 6px #aa93f8,
                5px 10px 20px 0 rgba(0, 0, 0, 0.6);
    will-change: contents;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 0 0 4px var(--color-2-bg),
                  0 0 0 10px #aa93f8,
                  5px 10px 25px 0 rgba(0, 0, 0, 0.6);
    }
  }
}

nav#navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #151a1f;
  z-index: 999;
  ul.menu {
    height: 100%;
    li {
      width: 200px;
      height: 100%;
      list-style: none;
      a {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: bold;
        color: #fff;
        will-change: contents;
        transition: all 0.3s ease-in-out;
        &:hover {
          font-size: 1.5rem;
          letter-spacing: 2px;
          color: #aa93f8;
          background-color: #d5c9fb;
        }
      }
    }
  }
}
